<div id="about" class="content-section video">
  <div class="content-wrapper w-container">
    <div class="header">
      <h2 class="h2">Expert Solutions</h2>
      <p class="paragraph centered">Automated container deployment, scaling, and management made easy by our Cloud Specialists. Scaling your application or data into logical units for easy management and discovery.</p>
    </div>
    <div class="row w-row">
      <div class="column w-col w-col-5 w-col-stack">
        <div class="general-container video w-clearfix"><img src="assets/images/touch_1touch.png" width="18" class="icon">
          <div class="general-title">Application Portability </div>
          <p class="paragraph">Experience the freedom of open source advantages and cloud infrastructure.</p>
        </div>
        <div class="general-container video w-clearfix"><img src="assets/images/html5_1html5.png" width="18" class="icon">
          <div class="general-title">Proactive Testing</div>
          <p class="paragraph">Advanced testing and production workloads across data centers and public clouds.</p>
        </div>
        <div class="general-container video w-clearfix"><img src="assets/images/comment_1comment.png" width="18" class="icon">
          <div class="general-title">Managed Solutions</div>
          <p class="paragraph">Enable speed, scale, and security using open source cloud frameworks and self hosted solutions across any infrastructure.</p>
        </div>
      </div>
      <div class="column w-col w-col-7 w-col-stack">
        <div class="horizontal-container"><img src="assets/images/earth.png" width="375" height="375" alt="Image of cloud" class="tablet"></div>
      </div>
    </div>
  </div>
</div>