<div blue-bg="background-color: #0F75BC" class="content-section hero-section">
  <div class="content-wrapper w-container">
    <div class="w-row">
      <div class="column w-col w-col-5">
        <div data-ix="slide-up-iphone-on-load" class="iphone-container"><img src="assets/images/newbot2.png" alt="Image of robot." class="iphone w-hidden-small"></div>
      </div>
      <div class="column-2 w-col w-col-7">
        <div class="title">container based virtualization </div>
        <h1 class="h1">Cloud Technology Made Simple</h1>
        <p class="paragraph hero">Transition to the cloud seamlessly with a comprehensive strategy designed and implemented according to your unique infrastructure needs.</p>
        <div class="form-container w-form">
          <form id="email-form" name="email-form" data-name="Email Form" class="form"><input type="email" class="form-input-box w-input" maxlength="256" name="Email" data-name="Email" placeholder="your@email.com" id="dotrocket-airmail.cc" required=""><input type="submit" value="Send" data-wait="Please wait..." class="form-button w-button"></form>
          <div class="success-message w-form-done">
            <p class="success-message-text">Thank you! Your submission has been received!</p>
          </div>
          <div class="error-message w-form-fail">
            <p class="error-message-text">Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-container">
    <div class="content-wrapper w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="general-container w-clearfix"><img src="assets/images/chekmark_1chekmark.png" width="15" class="icon features">
            <div class="general-title">Enterprise Services</div>
            <p class="paragraph">Container platforms for building or extending your infrastructure.</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="general-container w-clearfix"><img src="assets/images/chekmark_1chekmark.png" width="15" class="icon features">
            <div class="general-title">Cloud Integration</div>
            <p class="paragraph">Benefit from real life models designed for your business needs.</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="general-container w-clearfix"><img src="assets/images/chekmark_1chekmark.png" width="15" class="icon features">
            <div class="general-title">Advanced Support<strong class="bold-text"></strong></div>
            <p class="paragraph">Expert cloud strategy for your application deployment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>