<div data-ix="initial-appearance-share-full-page" class="share-full-page"><a href="#" data-ix="hidde-share-full-page-on-click" class="close-social-share w-inline-block"><img src="assets/images/close_1close.png" width="18" class="close social-share"></a>
  <div class="content-wrapper w-container">
    <div class="title centered">share</div>
    <div class="w-row">
      <div class="column w-clearfix w-col w-col-4">
        <a href="https://twitter.com/share?url=https://yoursite.com" target="_blank" data-ix="initial-appearance-social-share-container" class="social-share-container w-inline-block">
          <div class="social-icon-container"><img src="assets/images/Twitter-white.png" width="151" class="social-icon-front"></div>
        </a>
      </div>
      <div class="column w-col w-col-4">
        <a href="http://Facebook.com" target="_blank" data-ix="initial-appearance-social-share-container" class="social-share-container-2 w-inline-block">
          <div class="social-icon-container facebook"><img src="assets/images/Fb-white-1.png" width="151" class="social-icon-front"></div>
        </a>
      </div>
      <div class="column w-clearfix w-col w-col-4">
        <a href="http://Google Plus" target="_blank" data-ix="initial-appearance-social-share-container" class="social-share-container-3 w-inline-block">
          <div class="social-icon-container google-plus"><img src="assets/images/G-white-1.png" width="151" class="social-icon-front"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div data-ix="initial-appearance-full-page-menu" class="full-page-menu"><a href="#" data-ix="close-full-page-menu-on-click" class="close-container w-inline-block"><img src="assets/images/close_1close.png" width="18" class="close"></a>
  <div class="content-wrapper menu w-container">
    <div class="menu-title-container">
      <div class="menu-title-text">menu</div>
    </div>
    <a href="#top" data-ix="slide-from-left-menu-items-on-load" class="menu-item-container w-inline-block">
      <div class="menu-text">Home</div>
    </a>
    <a href="#about" data-ix="slide-from-left-menu-items-on-load" class="menu-item-container-2 w-inline-block">
      <div class="menu-text">About</div>
    </a>
    <a href="#contact" data-ix="slide-from-left-menu-items-on-load" class="menu-item-container-3 w-inline-block">
      <div class="menu-text">Contact</div>
    </a>
    <a href="#Screenshots" data-ix="slide-from-left-menu-items-on-load" class="menu-item-container-4 w-inline-block">
      <div class="menu-text"></div>
    </a>
    <a href="#Testimonials" data-ix="slide-from-left-menu-items-on-load" class="menu-item-container-5 w-inline-block">
      <div class="menu-text"></div>
    </a>
    <a href="#Download" data-ix="slide-from-left-menu-items-on-load" class="menu-item-container-6 w-inline-block">
      <div class="menu-text"></div>
    </a>
  </div>
</div><a href="#" data-ix="show-share-full-page-on-click" class="share-bg w-inline-block"><img src="assets/images/share_1share.png" height="20" class="share-icon"></a>
<a data-ix="show-full-page-menu-on-click" class="burger-menu w-inline-block">
  <div class="line"></div>
  <div class="line-2"></div>
  <div class="line-3"></div>
</a>
<div data-collapse="all" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="container w-container"><a href="index.html" class="brand w-nav-brand"><img src="assets/images/New-Project-3.png" alt="nerdbot lab logo"></a>
    <div class="w-nav-button"></div>
    <div class="text-block">(601) 300-1515</div>
  </div>
</div>